* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Sora, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-color: #FFE8C8;
}

.search-container {
  padding: 2rem;
  font-size: 1.5rem;
}

.form {
  margin-inline: auto;
  width: fit-content;
}

.form__input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
  padding: 0.25em;
  font-size: 1em;
  font-weight: bold;

  &:focus {
    outline: none;
    box-shadow: 0 2px 0 0 black
  }
}

.weather-card {
  width: 90vw;
  margin-inline: auto;
  padding: 2rem;
  border-radius: 1rem;
  background-color: white;
}

.weather-card__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.weather-card__date {
  color: gray;
}

.weather-card__condition-container {
  text-align: center;
}

.weather-card__temperature-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.weather-card__icon {
  width: min(20vw, 100px);
}

.weather-card__temperature {
  font-size: 3rem;
}

.weather-card__temperature::after {
  content: "°";
}

.weather-card__condition {
  font-weight: bold;
  font-size: 1.2rem;
}